/* normal */

body {
  background: #eee;
  color: #888;
  /* color is gray */
  border: 1px solid;
  padding: 0.08rem;
  -webkit-animation: anim1 linear infinite;
}

[data-dpr="1"] body {
  height: 10px;
}

[data-dpr="2"] body {
  height: 20px;
}

[data-dpr="3"] body {
  height: 30px;
}